@model Eria.Application.Tasks.Commands.CreateTask.CreateTaskCommand
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-inline mt-3">
        <label asp-for="Name" class="control-label w-25 justify-content-start"></label>
        <input asp-for="Name" class="form-control w-75" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-inline mt-3">
        <label asp-for="From" class="control-label w-25 justify-content-start"></label>
        <input asp-for="From" class="form-control w-75" asp-format="{0:yyyy-MM-ddTHH:mm}" />
        <span asp-validation-for="From" class="text-danger"></span>
    </div><div class="form-inline mt-3">
        <label asp-for="To" class="control-label w-25 justify-content-start"></label>
        <input asp-for="To" class="form-control w-75" id="TimeTo" asp-format="{0:yyyy-MM-ddTHH:mm}" />
        <span asp-validation-for="To" class="text-danger"></span>
    </div>
    <div class="form-inline mt-3">
        <label asp-for="WorkTypes" class="control-label w-25 justify-content-start"></label>
        @Html.DropDownListFor(m => m.SelectedWorkTypeId,
              new SelectList(Model.WorkTypes, "WorkTypeId", "Name"), new { @class = "form-control w-75" })
        <span asp-validation-for="SelectedWorkTypeId" class="text-danger"></span>
    </div>
    <div class="form-inline mt-3">
        <label asp-for="StopWatch" class="control-label w-25 justify-content-start"></label>
        <input asp-for="StopWatch" class="form-control w-75" id="stopWatch" />
        <span asp-validation-for="StopWatch" class="text-danger"></span>
    </div>
    <div class="form-group mt-3 text-center">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
